<?xml version="1.0" encoding="utf-8"?>
<manifest package="eu.the4thfloor.msync"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MSyncApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.CheckLoginStatusActivity"
            android:theme="@android:style/Theme.NoDisplay"/>

        <activity android:name=".ui.LoginActivity"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"/>

        <activity
            android:name=".ui.PrefActionsActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="eu.the4thfloor.msync.PREF_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="msync"/>
            </intent-filter>
        </activity>

        <!--
            use an alias in case we want to change the launch activity later without breaking
            homescreen shortcuts.  Note must be defined after the targetActivity
        -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.CheckLoginStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
